<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="Email" 	type="text" default="" label="Email"/>
    <setting id="Password" 	type="text" default="" option="hidden" enable="!eq(-1,)" label="Password" />
    <setting id="ServiceUrl" type="text" default="http://www.kaltura.com" label="ServiceUrl" />
    
</settings>
