<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="ks" type="text" default="YmY2Nzg3MTEzZmJlNzdhMGZhNTQ3Mzk3MDk4YThlOTNkNWUzYzZmNnwxMDI7MTAyOzE0NTEyOTkxNjU7MjsxNDUxMjEyNzY1LjE4Mzc7a29iaS5taWNoYWVsaUBrYWx0dXJhLmNvbTsqLGRpc2FibGVlbnRpdGxlbWVudDs7" label="KS"/>
</settings>

